.navbar {
    background-color: #f9f9f9;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-link {
    color: #131010;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .nav-link.active {
    font-weight: bold;
    
  }
  